<!DOCTYPE html>

<html>

<head>

	<title>HUYNH MINH TRUONG</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<script src='/jquery/dist/jquery.min.js'></script>
	<script src='/socket.io/socket.io.js'></script>

</head>

<body>
	<h2>Socket.io Chat</h2>

	<ul id="messages" style="list-style-type: none;"></ul>

	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container-fluid">
	  	<form class="navbar-form navbar-left" role="search" style="width:100%;">
	  		<input id="message" autocomplete="off" style="width:70%;border:none;" placeholder="Enter your text" /><button id="send" user="<%= name %>" value="<%= id %>">Send</button>
		</form>
	  </div>
	</nav>

	<script>
		var socket = io('/chat');
		$('form').submit(function(){
			socket.emit('chat messages', {user: $('#send').attr('user'), message: $('#message').val(), id: $('#send').attr('value')});
			$('#message').val('');
			return false;
		});
		socket.on('start chatting', function(data){
			$('#messages').append($('<li>').text('Admin: ' + data.message));
		});
		socket.on('server messages', function(data){
			var li = document.createElement('LI');
			var image = document.createElement('img');

			li.appendChild(image);

			$('#messages').append(li);
			$('#messages').append($('<li>')
				.attr('id',data.id)
				.text(data.user + ': ' + data.message));
		});
	</script>
</body>
</html>