<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <img src="./public/img/nodejs.png" />
            </div>
            <div class="col-lg-6 col-xs-6">
                NodeJS
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                MongoDB
            </div>
            <div class="col-lg-6 col-xs-6">
                <img src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <img src="" />
            </div>
            <div class="col-lg-6 col-xs-6">
                MongoDB
            </div>
        </div>
    </div>
</section>