<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	    <div class="navbar-header">
	    	<a title="Home" class="navbar-brand" href="/">
	    		<i class="glyphicon glyphicon-home"></i>
	    	</a>
	      	<a title="Contact" class="navbar-brand" href="/create">
	      		<i class="glyphicon glyphicon-comment"></i>
	      	</a>
	      	<a title="Send Mail" class="navbar-brand" href="/emails">
	      		<i class="glyphicon glyphicon-envelope"></i>
	      	</a>
	      	<a title="List Images" class="navbar-brand" href="/images">
	      		<i class="glyphicon glyphicon-th"></i>
	      	</a>
	      	<a title="List Users" class="navbar-brand" href="/users">
	      		<i class="glyphicon glyphicon-th-list"></i>
	      	</a>
	      	<a title="Add Knownledge" class="navbar-brand" href="/skills">
	      		<i class="glyphicon glyphicon-plus-sign"></i>
	      	</a>
	    </div>
  	</div>
</nav>