<!DOCTYPE html>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	    <div class="navbar-header">
	    	<a title="Home" class="navbar-brand" href="/home">
	    		<i class="glyphicon glyphicon-home"></i>
	    	</a>
	     	<a title="About Me" class="navbar-brand" href="/about">
	     		<i class="glyphicon glyphicon-user"></i>
	     	</a>
	      	<a title="Contact" class="navbar-brand" href="/create">
	      		<i class="glyphicon glyphicon-earphone"></i>
	      	</a>
	      	<a title="Send Mail" class="navbar-brand" href="/emails">
	      		<i class="glyphicon glyphicon-send"></i>
	      	</a>
	      	<a title="List Users" class="navbar-brand" href="/users">
	      		<i class="glyphicon glyphicon-th-list"></i>
	      	</a>
	      	<a title="Add Knownledge" class="navbar-brand" href="/skills">
	      		<i class="glyphicon glyphicon-plus-sign"></i>
	      	</a>
	    </div>
  	</div>
</nav>