<h2>Welcome to my site<img src="{{user.avatar}}" class="user-avatar" style="width: 150px; height: 150px; border-radius: 50%;"/></h2>
<p>Your information: </p>
<p>
  <label>Name: </label>{{user.name}}
  <br />
  <label>Email: </label>{{user.email}}
</p>