<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table id="user-list" class="table table-striped">
      <tr>
        <th>Your friends</th>
      </tr>
      {{#users}}
        <tr id="{{_id}}" class="users-list" style="cursor: pointer;">
          <td style="vertical-align: middle;">
            <img class="avatar" src={{avatar}} /> {{name}}
          </td>
          <td id="" style="vertical-align: middle;" messages="0"></td>
        </tr>
      {{/users}}
    </table>
  </div>
  <div class="col-xs-2"></div>
</div>