<ul>
	{{#images}}
	<li><img src={{image}} id="creatorImage"></li>
	{{/images}}
</ul>

<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4"></div>
</div>