<div class="collapse navbar-inverse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        {{#types}}
            <li class="{{isActive}}">
                <a href="#"><i class="{{icon}}"></i> {{type}}</a>
            </li>
        {{/types}}
    </ul>
</div>