<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table class="table table-striped">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
      </tr>
      {{#users}}
        <tr>
          <td><img class="avatar" src={{avatar}} /></td>
          <td style="vertical-align: middle;">{{name}}</td>
          <td style="vertical-align: middle;">{{email}}</td>
          <td style="vertical-align: middle;">No message</td>
        </tr>
      {{/users}}
    </table>
  </div>
  <div class="col-xs-2"></div>
</div>